body{
  background-image: url("cat-eleven.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'Rubik Beastly', cursive;
}
.nav{
  background-color: steelblue;
}

a{
  color: darkred;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: lightyellow;
}

h1{
  text-align: center;
  color: brown;
  font-size: 40px;
  font-family: fantasy;
  letter-spacing: 3px;
  text-decoration: overline underline;
  
}
.index-image{
  width: 300px;
  border: 3px dashed brown;
  border-radius: 30px;
  margin-right: 30px;
}

.title{
  color: darkgoldenrod;
  font-family: fantasy;
  letter-spacing: 2px;
  text-decoration: underline wavy;
}

p{
  font-family: 'Rubik Beastly', cursive;
  font-size: 19px;
  font-style: italic;
  color: brown;
  text-align: justify;
}

.photo{
  width: 300px;
  float: left;
  border: 3px dashed brown;
  border-radius: 30px;
  margin-right: 30px;
}

.memo{
  text-align: left;
  font-size: 25px;
  color: deeppink;
}

hr{
  clear: both;
}